<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Food Saver App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link ">Strona główna <span class=" sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Przepisy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="getRecipes()">Wyświetl wszystkie przepisy</a>
          <a class="dropdown-item" (click)="onOpenModalRecipe('addRecipe', null!)">Dodaj przepis<span
              class="sr-only">(current)</span></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Składniki
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="getIngredients()">Wyświetl wszystkie składniki</a>
          <a class="dropdown-item" (click)="onOpenModalIngredient('addIngredient', null!)">Dodaj składnik<span
              class="sr-only">(current)</span></a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchRecipes(key.value)" #key="ngModel" ngModel name="key" id="searchName"
        class="form-control mr-sm-2 " placeholder="Wyszukaj przepis . . ." required>
      <i class="fa fa-search fa-2x float-right " style="color:white"></i>
    </form>
  </div>
</nav>

<!--Show Recipes -->
<div class="container" id="main-container">
  <h1>Przepisy:</h1>
  <div class="row">
    <div *ngFor="let recipe of recipes" class="col-12 col-sm-10 col-md-6 col-xl-6">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{recipe?.imageUrl}}" alt="" class="img-fluid rounded-circle w-80"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{recipe?.name}}</h5>
            <p class="m-0"><i class="fa fa-star-o float-right"></i>Ocena: {{recipe?.rate}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-users float-right"></i>Dla
            {{recipe?.serves}} osób
          </li>
          <li class="list-group-item"><i class="fa fa-clock-o float-right"></i>Czas przygotowania:
            {{recipe?.preparation}}
            minut
          </li>
          <li class="list-group-item"><i class="fa fa-pie-chart float-right"></i>
            <h5>Składniki:</h5>
            <div *ngFor="let item of recipe.enrolledIngredients">
              - {{item.name}}
            </div>
          </li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModalRecipe('editRecipe', recipe)" class="btn btn-primary tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModalRecipe('deleteRecipe', recipe)" class="btn btn-secondary tooltips"
              data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Add Recipe Modal-->
  <div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="addRecipeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRecipeModalLabel">Dodawanie nowego przepisu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addRecipeForm="ngForm" (ngSubmit)="onAddRecipe(addRecipeForm)">
            <div class="form-group">
              <label for="name">Nazwa przepisu: </label>
              <input type="text" ngModel name="name" class="form-control" id="name"
                placeholder="Podaj nazwę swojego przepisu . . ." required>
            </div>
            <div class="form-group">
              <label for="serves">Dla osób: </label>
              <input type="text" ngModel name="serves" class="form-control" id="serves"
                placeholder="Podaj na ile osób jest przepis . . . " required>
            </div>
            <div class="form-group">
              <label for="preparation">Czas przygotowania:</label>
              <input type="text" ngModel name="preparation" class="form-control" id="preparation"
                placeholder="Podaj ile wynosi czas przygotowania . . . " required>
            </div>
            <div class="form-group">
              <input type="hidden" ngModel name="rate" class="form-control" id="rate" placeholder="Rate">
            </div>
            <div class="form-group">
              <label for="imageUrl">Zdjęcie dania:</label>
              <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl"
                placeholder="Wklej link do zdjęcia dania . . ." required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-recipe-form" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button [disabled]="addRecipeForm.invalid" type="submit" class="btn btn-primary">Dodaj przepis</button>
            </div>
            <form class="form-inline my-2 my-lg-0">
              <input type="search" (ngModelChange)="searchIngredients(key.value)" #key="ngModel" ngModel name="key"
                id="searchName" class="form-control mr-sm-2 " placeholder="Wyszukaj przepis . . ." required>
              <i class="fa fa-search fa-2x float-right " style="color:white"></i>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Edit Recipe Modal-->
  <div class="modal fade" id="updateRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeEditModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateRecipeModalLabel">Edytowanie przepisu: {{editRecipe?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editRecipeForm="ngForm">
            <div class="form-group">
              <label for="name">Nazwa przepisu:</label>
              <input type="text" ngModel="{{editRecipe?.name}}" name="name" class="form-control" id="name"
                placeholder="Name" required>
            </div>
            <input type="hidden" ngModel="{{editRecipe?.id}}" name="id" class="form-control" id="id"
              placeholder="Email">
            <div class="form-group">
              <input type="hidden" ngModel="{{editRecipe?.rate}}" name="rate" class="form-control" id="rate"
                placeholder="rate">
            </div>
            <div class="form-group">
              <label for="jobTitle">Dla osób: </label>
              <input type="text" ngModel="{{editRecipe?.serves}}" name="serves" class="form-control" id="serves"
                placeholder="Serves" required>
            </div>
            <div class="form-group">
              <label for="preparation">Czas przygotowania: (min)</label>
              <input type="text" ngModel="{{editRecipe?.preparation}}" name="preparation" class="form-control"
                id="preparation" placeholder=" Preparation" required>
            </div>
            <div class="form-group">
              <label for="imageUrl">Zdjęcie dania: </label>
              <input type="text" ngModel="{{editRecipe?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl"
                placeholder="Image url" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button (click)="onUpdateRecipe(editRecipeForm.value)" class="btn btn-primary" data-dismiss="modal">Zapisz
                zmiany</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Delete Recipe Modal-->
  <div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Recipe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Jesteś pewien, że chcesz usunąć przepis: {{deleteRecipe?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
            <button (click)="onDeleteRecipe(deleteRecipe!.id)" class="btn btn-danger" data-dismiss="modal">Tak</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Show Ingredients -->
  <div class="container" id="main-container">
    <h1>Składniki:</h1>
    <div class="row">
      <div *ngFor="let ingredient of ingredients" class="col-12 col-sm-10 col-md-6 col-xl-6">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <a href=""><img src="{{ingredient?.imageUrl}}" alt="" class="img-fluid rounded-circle w-80"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h5>{{ingredient?.name}}</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModalIngredient('editIngredient', ingredient)" class="btn btn-primary tooltips"
                data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModalIngredient('deleteIngredient', ingredient)" class="btn btn-secondary tooltips"
                data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Add Ingredient Modal-->
    <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog"
      aria-labelledby="addIngredientModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addIngredientModalLabel">Dodawanie nowego składnika</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addIngredientForm="ngForm" (ngSubmit)="onAddIngredient(addIngredientForm)">
              <div class="form-group">
                <label for="name">Nazwa składnika: </label>
                <input type="text" ngModel name="name" class="form-control" id="name"
                  placeholder="Podaj nazwę składnika . . ." required>
              </div>
              <div class="form-group">
                <label for="imageUrl">Zdjęcie składnika:</label>
                <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl"
                  placeholder="Wklej link do zdjęcia składnika . . ." required>
              </div>
              <div class="modal-footer">
                <button type="button" id="add-ingredient-form" class="btn btn-secondary"
                  data-dismiss="modal">Zamknij</button>
                <button [disabled]="addIngredientForm.invalid" type="submit" class="btn btn-primary">Dodaj
                  przepis</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Edit Ingredient Modal-->
    <div class="modal fade" id="updateIngredientModal" tabindex="-1" role="dialog"
      aria-labelledby="IngredientEditModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateIngredientModalLabel">Edytowanie składnika: {{editIngredient?.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #editIngredientForm="ngForm">
              <div class="form-group">
                <label for="name">Nazwa składnika:</label>
                <input type="text" ngModel="{{editIngredient?.name}}" name="name" class="form-control" id="name"
                  placeholder="Name" required>
              </div>
              <input type="hidden" ngModel="{{editIngredient?.id}}" name="id" class="form-control" id="id"
                placeholder="id">
              <div class="form-group">
                <label for="imageUrl">Image url</label>
                <input type="text" ngModel="{{editIngredient?.imageUrl}}" name="imageUrl" class="form-control"
                  id="imageUrl" placeholder="Image url" required>
              </div>
              <div class="modal-footer">
                <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button (click)="onUpdateIngredient(editIngredientForm.value)" class="btn btn-primary"
                  data-dismiss="modal">Zapisz
                  zmiany</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Delete Ingredient Modal-->
    <div class="modal fade" id="deleteIngredientModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Usuwanie składnika</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Jesteś pewien, że chcesz usunąć składnik: {{deleteIngredient?.name}}?</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
              <button (click)="onDeleteIngredient(deleteIngredient!.id)" class="btn btn-danger"
                data-dismiss="modal">Tak</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Notification for no recipes-->
    <div *ngIf="recipes?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">BRAK PRZEPISÓW!</h4>
        <p>Nie znaleziono żadnych przepisów.</p>
      </div>
    </div>

    <!--Notification for no ingredients-->
    <div *ngIf="ingredients?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">BRAK SKŁADNIKÓW!</h4>
        <p>Nie znaleziono żadnych składników.</p>
      </div>
    </div>